/build_local/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
yarn-error.log

# Optional ignores
# /build_staging/
# /build_production/
# /source/assets/build/
source/assets/build/css/main.css
source/assets/build/mix-manifest.json
source/assets/build/mix-manifest.json
source/assets/build/mix-manifest.json
source/assets/build/css/main.css
source/assets/build/js/main.js
