@import "tailwindcss/base";
@import "tailwindcss/components";

html {
  font-family: "Inter", sans-serif;
  @apply text-gray-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  @apply font-bold;
}

[x-cloak] { display: none!important; }

@import "tailwindcss/utilities";
